@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");

* {
  box-sizing: border-box;
}
.li {
  text-decoration: none;
}

span {
  font-weight: bold;
  color: #d25b43;
}

.about {
  margin: 2%;
}

.portfolio-card li {
  list-style: none;
}

.about-text {
  padding-right: 1%;
  border-right: dotted rgba(255, 255, 255, 0.267) 0.5px;
}

.portfolio-card {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1%;
  flex-direction: column;
}

.portfolio {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
.portfolio-container {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.4); */
  margin-top: 4%;
  padding-bottom: 10%;
  /* padding: 2%; */
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  background: rgba(0, 0, 0, 0.4);
  color: #d25b43;
  padding: 5%;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-links {
  width: 100%;
  border: dotted black 0.5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: dotted 0.5px;
}

.main-content {
  background: #2d3447;
}

.tools-container i {
  font-size: 3rem;
  padding: 2%;
  color: white;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.experience {
  text-align: center;
}

.experience-info {
  display: flex;
  justify-content: space-between;
  border-bottom: dashed grey 1px;
  margin: 2%;
  padding: 1%;
  color: white;
}

.project-image {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.nc-news {
  display: flex;
}

.nc-news-web {
  display: none;
  margin: 2%;
  align-self: center;
  max-width: 80%;
  min-width: 500px;
  max-height: 100%;
  border-radius: 5px;
}

.nc-news-mob {
  padding: 1%;
  max-width: 30%;
  max-height: 80%;
  border-radius: 10px;
  margin: 0 auto;
}

.treat-img {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.treat-img img {
  max-width: 20%;
  min-width: 150px;
  height: auto;
  object-fit: cover;
  padding: 3%;
  filter: drop-shadow(3px 2px 4px #666666);
}

.nc-img img {
  max-width: 50%;
  /* min-width: 150px; */
  height: auto;
  object-fit: cover;
  padding: 3%;
  filter: drop-shadow(3px 2px 4px #666666);
}

.nc-img {
  display: flex;
  flex-direction: column;
}

#nc-iphone {
  max-width: 20%;
  min-width: 150px;
  height: auto;
  object-fit: cover;
  padding: 3%;
  filter: drop-shadow(3px 2px 4px #666666);
}

.treat-container-header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nc-img-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  border-bottom: solid 0.2px rgb(255, 255, 255);
  width: 80%;
  align-self: center;
  margin: 0 0 3% 0;
}

.nc-btn {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: center;

  flex-wrap: wrap;
}

.btn-nc {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 2%;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  border-radius: 5px;
}

.btn-nc:hover {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 20px 20px #000;
  color: #1b1b1b;
}

.nc-container {
  background: #2d3447;
}

.nc-header {
  width: 70%;
  align-self: center;
}

.treat-git-btn {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .about {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
  }

  .about-text {
    /* margin: 2%; */
    align-self: flex-start;
    width: 40%;
  }

  .card-container {
    flex-direction: row;
  }

  .portfolio-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card-container#nc-news {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }

  .card-container#bookshare {
    display: flex;
    align-items: flex-end;
  }

  .tools-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .experience {
    height: 100%;
    justify-content: center;
    align-self: flex-start;
  }

  .nc-news-web {
    display: inline;
    /* align-self: flex-start; */
  }

  .nc-news-mob {
    display: none;
  }
  .tools {
    align-self: flex-start;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .treat-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .treat-img-container {
    width: 40%;
  }

  .treat-img img {
    max-width: 20%;
    height: auto;
    object-fit: cover;
    padding: 3%;
    filter: drop-shadow(3px 2px 4px #666666);
  }

  .treat-git-btn {
    /* display: flex; */
    /* border: solid red; */
    flex-direction: row;
  }

  .nc-img img {
    max-width: 40%;
    min-width: 150px;
    height: auto;
    object-fit: cover;
    padding: 3%;
    filter: drop-shadow(3px 2px 4px #666666);
  }

  .nc-img {
    /* flex-direction: row; */
  }

  .nc-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-nc {
    width: 20%;
  }

  .treat-container-header {
    width: 80%;
    margin: 0 auto;
    align-self: center;
    display: flex;
    /* margin: 4%; */
    flex-direction: row;
    align-items: center;
  }
}
